body {
    font-family: Arial;
}

/* Default (Desktop) */
.box {
    width: 400px;
    padding: 20px;
    background-color: lightblue;
}

/* Tablet */
@media (max-width: 768px) {
    .box {
        background-color: orange;
        width: 300px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .box {
        background-color: green;
        width: 200px;
    }
}