body {
    font-family: Arial;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    text-align: center;
}

.card p {
    margin-bottom: 8px;
    font-weight: bold;
}

/* Image Box */
.box {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid black;
    transition: 0.5s;
}

/* Filters */
.blur {
    filter: blur(3px);
}

.brightness {
    filter: brightness(150%);
}

.contrast {
    filter: contrast(200%);
}

.grayscale {
    filter: grayscale(100%);
}

.sepia {
    filter: sepia(100%);
}

.invert {
    filter: invert(100%);
}

.saturate {
    filter: saturate(200%);
}

.opacity {
    filter: opacity(50%);
}

.shadow {
    filter: drop-shadow(5px 5px 10px black);
}