body {
    background-color: lightgray;
    font-family: Arial;
}

/* Color Name */
.name {
    color: red;
}

/* HEX */
.hex {
    color: #3498db;
}

/* RGB */
.rgb {
    color: rgb(0, 128, 0);
}

/* RGBA (with transparency) */
.rgba {
    color: rgba(255, 0, 0, 0.5);
}

/* Background + Text */
.box {
    background-color: #2ecc71;
    color: white;
    padding: 20px;
    width: 300px;
}